<p>one works!</p>
<h1>hello</h1>
<!-- <button type="button" onclick="getNumbers()">clickHere</button> -->

<table>
  <thead>
      <tr>
          <th>evenNumbers</th> 
          <th>oddNumbers</th>   
      </tr>
      
  </thead>
 
  <tbody >
    <ng-container *ngFor="let nos of arr">
        <tr>
            <td >{{nos % 2 == 0 ? nos: null}}</td>
            <td >{{nos % 2 != 0 ? nos: null}} </td>
        </tr>
    </ng-container>

    <!-- <ng-container *ngFor="let nos of arr">
        <tr *ngIf="nos % 2 != 0">
            <td >{{nos}}</td>
        </tr>
    </ng-container> -->


      <!-- <tr *ngFor="let nos of arr"> -->
            <!-- <td class="{{nos%2 == 0 ? 'even': 'odd'}}">{{nos}}</td>  -->
        <!-- <ng-template #oddNo>
            <td class="odd">{{nos}} </td> 
        </ng-template> -->
        <!-- <td >{{nos}}</td>
      </tr> -->
  </tbody>

</table>
