<p>update works!</p>
<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Employee Name</label>
      <input type="text" class="form-control" id="ename" required [(ngModel)]="employee.ename" name="ename">
    </div>

    <div class="form-group">
      <label for="name">EmployeeAddress</label>
      <input type="text" class="form-control" id="eadd" required [(ngModel)]="employee.eadd" name="eadd">
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
    </div>

    <button type="submit" class="btn btn-success" >Submit</button>
  </form>
</div>