
<div [hidden]="loginSuccessfull">
    <mat-card >
      <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <h2> Employee Log In</h2>
          <mat-error *ngIf="!loginValid">
            The username and password were not recognized
          </mat-error>
          <mat-form-field>
            <input matInput placeholder="employeeName" [(ngModel)]="employeename" name="employeename" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="employeepassword" [(ngModel)]="employeepassword" name="employeepassword" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
        </form>
        <a routerLink = '/employee-Registration' style="margin-top: 30px;">New user? click here to signup</a>
      </mat-card-content>
    </mat-card>
    </div>