<p>listacountant works!</p>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>EmployeeName</th>
            <th>EmployeeAddress</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acount of acounts">
            <td>{{acount.name}}</td>
            <td>{{acount.email}}</td>
            <td>{{acount.sex}}</td>
            <td>{{acount.course}}</td>
            <td><button (click)=" deleteacount(acount.id)" class="btn btn-danger">Delete</button>
           <!-- <td> <button (click)="updateForm(e.id)"class="btn btn-danger">Edit</button></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{text| uppercase}}

{{''|custom}}

<h1>hihihihih</h1>

{{title|custom}}


