input.ng-invalid.ng-touched{

    border: solid 2px tomato;

}

input.ng-valid{

    border: solid 2px rgb(15, 214, 8);

}

#demo{

    color: tomato;

}

.card{

    width: 50%;

    margin: 60px;

}

.container{

    display: flex;

    justify-content: center;

   

}

.fileupload{

    background-image: url('../../assets/MicrosoftTeams-image.png');

    background-size: 100%;

    background-size: cover;

    height: 800px;

}

h2{

    text-transform: uppercase;

}