.dream{
    padding: 0px 40px 0px 200px;
}
.spacer{
    padding: 0px 40px 0px 200px;
    
 }
 .img-responsive{
    height:8vh
} 
.content{
    padding: 16px;
}
 .admin-last{
    text-align: end;
} 
.spacer1{
    text-align: end;
    padding: 0px 0px 0px 150px;
}
/* media queries */

 /* @media screen and (max-width: 1024px) {
    span.dream{
        margin-left: -124px;
    }
}  */
/* @media screen and (max-width: 1024px) {
    div.spacer{
        margin-left: 170px;
    }
}
@media screen and (max-width: 1024px) {
    div.spacer1{
      background-color: red;
      margin-left: 10px;
    }
}
@media screen and (max-width: 1024px) {
    div.img-responsive{
        height:10vh
    }
}  */