<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home-component">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/basics-component">Basics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-component">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration-component">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/postdata-component">postdata</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/update-component">update</a>
      </li>
      
    </ul>
  </div>
</nav>

<app-parentcomponent></app-parentcomponent>
<router-outlet></router-outlet>