<h1>Reactive Forms</h1>
<form [formGroup]="reactive" (ngSubmit)="collectdata()">
<label>Username : </label>
    <input type="text" placeholder="enter username" formControlName="username"/><br/><br/>
    
    <!-- <span *ngIf="username.touched && !username.valid">Enter username</span> -->
<label>password : </label>
    <input type="password"placeholder="enter password" formControlName="password"/><br/><br/>

    <!-- <span *ngIf="password.touched && !password.valid">Enter Your password</span> -->
<label>Contact : </label>
    <input type="text"placeholder="contact" formControlName="contact"/><br/><br/>

    <!-- <span *ngIf="contact.touched && !contact.valid">Enter Your Contact</span> -->
<label>Add : </label>
    <input type="text"placeholder="add" formControlName="add"/><br/><br/>

    
    <!-- <span *ngIf="contact.touched && !contact.valid">Enter Your Address</span> -->


    <button type="submit">Submit</button>

</form>

